* {
	color: black;
	font-family: Helvetica;
	justify-content: center;
}

html {
	background-color: white;
	display: flex;
	font-size: 18px;
	justify-content: center;
}

#fisma{
	background-color:#DDDDDD;
}

.footer {
	height: 5rem;
	text-align: left;
	align-items: bottom;
	width: 100%;
}

.footer span {
	width: 960px;
}

h2, h3, h4, h5 {
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 1rem;
}

h5 {
	padding: 15px;
	margin: 0;
}

.header {
	align-items: left;
	display: inline-flex;
	font-family: Arial;
	font-size: 1rem;
	font-weight: bold;
	flex-basis: auto;
	justify-content: left;
	padding-bottom: 0.66rem;
	padding-top: 0.66rem;
}

.header img {
	height: 1.5rem;
	margin-left: 0.5rem;
	margin-right: 1rem;
}

.header nav {
	align-items: flex-end;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	text-align: right;
}

.header nav a {
	color: seashell;
	flex-grow: 1;
	padding: 0px 20px;
}

.keep_practicing_image{
	display: flex;
	flex-direction: column;
	padding-top:10px;
	width:100%;
}

.keep_practicing_image img{
	width:100%;
}

#lecture {
	background-color: #DDDDDD;
}

.learn_something {
	background-color: #DDDDDD;
	display: flex;
	flex-direction: row;
}

.line {
	display: flex;
	flex-direction: row;
	width:100%;
}

.line img {
	padding:16px;
}

main {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 1280px;
}

.stack {
	display: flex;
	flex-direction: column;
	width:100%;
}

.stack img {
	size: auto;
}

.start_learning {
	background-color: #EEEEEE;
	display: flex;
	flex-direction: row;
}

.start_learning.line{
	display:flex;
	justify-content:space-between;
}

.start_learning.stack{
	overflow: hidden;
}

.thesis_exhibit {
	display: flex;
	flex-direction: row;
}

.title{
		align-items:center;
		display:flex;
}

.triple_img img{
  width:100%;
}

video {
	width:100%;
	height:auto;
}

.wide{
	width:100%;
}

.wide img{
	width:100%;
}

/* It's over */
