* {
	color: black;
	font-family: Helvetica;
	justify-content: center;
}

html {
	background-color: white;
	display: flex;
	font-size: 16px;
	justify-content: center;
}

.course_line {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 72px 0 72px;
}

.course_stack {
	background-color: white;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 33.3%;
}

.course_stack h1 {
	font-size: 1.5rem;
	padding: 16px 16px 4px 16px;
}

.course_stack h2, .course_stack h3 {
	color: #666666;
	font-size: 1rem;
	padding: 4px 16px 4px 16px;
}

.course_stack h3 {
	padding-bottom: 20px;
}

#course_stack_middle {
	margin: 0px 32px 32px 32px;
}

.course_stack img {
	width: 100%;
}

#fisma {
	background-color: #DDDDDD;
}

.footer {
	border-top: 1px gray;
	display: flex;
	flex-direction: row;
	height: 5rem;
	justify-content: space-between;
	text-align: left;
	align-items: bottom;
	width: 100%;
}

.footer span {
	width: 960px;
}

.footer_block_left {

}

.footer_block_right {

}

h2, h3, h4, h5 {
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 1rem;
}

h5 {
	padding: 15px;
	margin: 0;
}

.header {
	align-items: left;
	display: inline-flex;
	font-family: Arial;
	font-size: 1rem;
	font-weight: bold;
	flex-basis: auto;
	justify-content: left;
	padding-bottom: 0.66rem;
	padding-top: 0.66rem;
	width: 100%;
}

.header img {
	height: 1.5rem;
	margin-left: 0.5rem;
	margin-right: 1rem;
}

.header nav {
	align-items: flex-end;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	text-align: right;
}

.header nav a {
	color: seashell;
	flex-grow: 1;
	padding: 0px 20px;
}

.keep_practicing {
	display: flex;
	flex-direction: row;
}

.keep_practicing h1, .keep_practicing h2, .keep_practicing h3 {
	color: #333333;
}

.keep_practicing h1 {
	font-size: 2rem;
	font-weight: bold;
	padding-top: 32px;
}

.keep_practicing h2 {
	font-size: 1.5rem;
	padding-bottom: 24px;
	padding-top: 24px;
}

.keep_practicing h3 {
	font-size: 1.5rem;
	padding-bottom: 32px;
}

.keep_practing img {
	width: 100%;
}

.keep_practicing_image {
	display: flex;
	flex-direction: column;
	padding-left: 15px;
	padding-right: 15px;
	width: 60%;
}

.keep_practicing_image img {
	width: 100%;
}

#lecture {
	background-color: #DDDDDD;
}

.learn_something {
	background-color: #DDDDDD;
	display: flex;
	flex-direction: row;
}

.learn_something h1, .learn_something h2, .learn_something h3 {
	color: #333333;
	font-weight: bold;
}

.learn_something h1 {
	font-size: 3rem;
}

.learn_something h2 {
	font-size: 2rem;
	padding-bottom: 2rem;
	padding-top: 2rem;
}

.learn_something h3 {
	background-color: #555555;
	color: white;
	font-size: 2rem;
	text-align: center;
	padding: 8px 0 8px 0;
}

#learn_something_headers {
	margin-right: 96px;
}

.learn_something_stack {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40%;
}

.line {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.line img {
	padding: 16px;
}

main {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 1280px;
}

.stack {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.stack img {
	size: auto;
}

.start_learning {
	background-color: #EEEEEE;
	display: flex;
	flex-direction: row;
}

.start_learning.line {
	display: flex;
	justify-content: space-between;
}

.start_learning.stack {
	overflow: hidden;
}

.thesis_exhibit {
	display: flex;
	flex-direction: row;
}

.thesis_video {
	display: flex;
	flex-direction: column;
	width: 60%;
	padding: 32px 24px 32px 24px;
}

.title {
	align-items: center;
	display: flex;
	font-size: 3rem;
	padding: 2rem 0 2rem 0;
}

.triple_img {
	width: 35%;
	align-items: center;
	padding: 16px;
}

.triple_line {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.triple_stack {
	display: flex;
	flex-direction: column;
	width: 65%;
	margin-left: 40px;
}

.triple_stack h2 {
	font-size: 1.5rem;
	font-weight: bold;
}

.triple_stack h3 {
	font-size: 1.5rem;
	font-weight: bold;
}

.triple_stack a {
	color: #6666FF;
}

#triple_o {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 32px 0 32px 0;
	width: 40%;
}

#triple_o img {
	/*height: auto;*/
	width: 100%;
}

video {
	width: 100%;
	height: auto;
}

.wide {
	align-items: left;
	display: flex;
	flex-direction: column;
	width: 60%;
	padding: 32px 24px 32px 24px;
}

.wide img {
	width: 100%;
}

@media only screen and (max-width: 760px) {
	.course_stack img,
	.course_stack h2,
	.course_stack h3,
	.keep_practicing .wide,
	.learn_something_stack,
	.footer_block_right,
	.thesis_exhibit h1,
	.thesis_exhibit h2 {
		display: none;
	}
	.triple_line,
	.course_line {
		display: flex;
		flex-direction: column;
	}

	.course_line{
		padding:0;
		margin:0;
	}

	#triple_o,
	.course_stack {
		width:100%;
	}

	.course_stack h1{
		background-color:#999999;
		color:#333333;
		padding:0;
		margin:0;
	}
	main {
		display: flex;
		flex-direction: column;
		margin: auto;
		width: 480px;
	}
}

/* It's over */
